
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Title</th>
    <th scope="col">Description</th>
    <th scope="col">Genre</th>
    <th score="col">Rating</th>
    <th scope="col">Delete</th>
    <th scope="col">Rate</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let movie of movies.movies; index as i">
    <th scope="row">{{ i + 1 }}</th>
    <td>
      {{ movie.title }}
    </td>
    <td>{{ movie.description }}</td>
    <td>{{ movie.genre }}</td>
    <ngb-rating [(rate)]="movie.rating"></ngb-rating>
    <td><button class="btn-danger" (click)="deleteMovie(movie)">Delete</button></td>
    <td><button class="btn-primary" (click)="rateMovie(movie)">Rate</button></td>
  </tr>
  </tbody>
</table>
<!-- <button (click)="print()">click</button> -->